html, head, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eaeaea; }

body {
  overflow-y: scroll; }

#container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 120px 0 0 0;
  background-color: #eaeaea; }

@media all and (max-width: 700px) {
  #container {
    padding: 35px 0 0 0; } }
.red {
  color: #ff0000; }

.minor {
  color: #888; }

#top {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%; }

a:link, a:visited {
  color: #f00;
  transition: color 0.2s linear; }
  a:link.nostyle, #header header a:link, #header li a:link, a:visited.nostyle, #header header a:visited, #header li a:visited {
    color: inherit; }
a:hover {
  color: #a00; }
  a:hover.nostyle, #header header a:hover, #header li a:hover {
    color: #f00; }
a:active, a:active.nostyle, #header header a:active, #header li a:active {
  color: #600; }

#header {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center; }
  #header header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 24px;
    padding: 8px 25px; }
    #header header a {
      text-decoration: none; }
  #header menu {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #header menu.right {
      position: absolute;
      left: auto;
      right: 15px; }
  #header li {
    float: left;
    height: 50px; }
    #header li a {
      box-sizing: border-box;
      display: block;
      height: 100%;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
      padding: 15px 10px;
      font-size: 18px; }
      #header li a.active {
        color: #f00; }

@media all and (max-width: 700px) {
  #header {
    width: 100%; }
    #header menu.right {
      right: 0; }
    #header header {
      padding: 8px 10px;
      font-size: 18px;
      padding: 5px 5px; }
    #header li a {
      font-size: 18px;
      padding: 5px 5px; } }
#top {
  position: relative;
  margin: -90px auto 0;
  padding: 0;
  width: 900px;
  height: auto; }
  #top img {
    width: 100%; }

@media all and (max-width: 700px) {
  #top {
    margin-top: 0;
    width: 100%; } }
#bar {
  box-sizing: border-box;
  position: relative;
  margin: -90px auto 0;
  padding: 30px 40px;
  height: 90px;
  width: 700px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 255, 255, 0.9); }
  #bar header {
    text-align: center;
    width: 460px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -230px;
    display: table; }
    #bar header h1 {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 22px;
      display: table-cell;
      vertical-align: middle; }

#newer, #older {
  z-index: 1;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 30px;
  float: left; }
  #newer a, #older a {
    display: block;
    color: #888;
    margin: 50% 0;
    padding: 4px 0;
    text-decoration: none;
    font-size: 16px;
    transition: 0.1s linear color; }
    #newer a:hover, #older a:hover {
      color: #f00; }
    #newer a:active, #older a:active {
      color: #000; }

#older {
  float: right;
  left: auto;
  right: 0; }
  #older a {
    padding: 8px 0; }

.minor {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 14px;
  bottom: 4px; }

@media all and (max-width: 700px) {
  #bar {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 15px 20px; }
    #bar:after {
      content: "";
      display: table;
      clear: both; }
    #bar header {
      width: 100%;
      position: static;
      margin-left: 0; }

  #newer, #older {
    position: static;
    height: auto; }
    #newer a, #older a {
      margin: 0; } }
#post {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 40px;
  text-align: justify;
  width: 700px;
  background-color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 17px;
  line-height: 1.7; }
  #post p {
    margin-top: 0;
    margin-bottom: 40px; }
    #post p:last-of-type {
      margin-bottom: 0; }
  #post figure {
    display: block;
    width: 700px;
    margin: 0 -40px 40px; }
    #post figure img {
      max-width: 100%;
      margin: 0; }
    #post figure pre {
      font-family: 'Ubuntu Mono', monospace;
      border-left: 5px solid #555;
      padding: 10px 15px;
      margin: 0 0 10px; }
    #post figure figcaption {
      text-align: center;
      font-size: 15px;
      font-style: italic;
      margin: 0; }
    #post figure pre + figcaption {
      text-align: inherit;
      margin: 0; }
  #post code {
    font-family: 'Ubuntu Mono', monospace;
    color: #333; }

#meta {
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
  width: 640px;
  padding: 0;
  margin: 0 auto 10px;
  font-size: 15px;
  overflow: auto; }
  #meta:after {
    content: "";
    display: table;
    clear: both; }
  #meta #tags {
    float: left; }
  #meta #date {
    float: right; }

@media all and (max-width: 700px) {
  #post {
    width: 100%;
    padding: 15px 20px; }
    #post figure {
      width: calc(100% + 60px); }

  #meta {
    width: auto; }
    #meta #tags, #meta #date {
      display: block;
      float: none; } }
#footer {
  box-sizing: border-box;
  width: 700px;
  margin: 30px auto;
  padding-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  text-align: center; }

@media all and (max-width: 700px) {
  #footer {
    width: 100%; } }
#archive {
  list-style-type: none;
  margin: -120px 0 0 0;
  padding: 0; }
  #archive li {
    box-sizing: border-box;
    margin: 30px auto;
    padding: 30px 40px;
    text-align: justify;
    width: 700px;
    z-index: 1;
    background-color: #fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 17px;
    line-height: 1.7; }
    #archive li.hidden {
      display: none; }

@media all and (max-width: 700px) {
  #archive {
    margin-top: 0px; }
    #archive li {
      width: 100%;
      margin: 30px 0;
      padding: 15px 20px; } }

/*# sourceMappingURL=style.css.map */
