<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Source+Code+Pro:300,400" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ site_url }}/media/css/style.css">
        {% if page.style %}
        <link rel="stylesheet" type="text/css" href="{{ site_url }}/media/css/posts/{{ page.style }}">
        {% elsif post.style %}
        <link rel="stylesheet" type="text/css" href="{{ site_url }}/media/css/posts/{{ post.style }}">
        {% endif %}
        {% feed_meta %}
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <header>
                    <a href="http://totempaal.tj/">totempaal.tj</a>
                </header>
                <menu class="right">
                    <li><a href="/archive.html">archive</a></li>
                    <li><a href="http://martijnarts.com" id="aboutlink">about/portfolio</a></li>
                </menu>
            </div>
