<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Abril+Fatface|Fira+Sans:700|Source+Code+Pro:200" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ site_url }}/media/css/style.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <header>
                    <a href="http://totempaal.tj/">totempaal<span class="red">.</span>tj</a>
                </header>
                <menu class="right">
                    <li><a href="/archive.html">archive</a></li>
                    <li><a href="http://martijnarts.com" id="aboutlink">about/portfolio</a></li>
                </menu>
            </div>
