<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} by TotempaaltJ</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400|Lato:900|Ubuntu+Mono:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/media/css/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <header>
          <a href="http://totempaal.tj/">totempaal<span class="red">.</span>tj</a>
        </header>
        <menu class="right">
          <li><a href="/archive.html">archive</a></li>
          <li><a href="http://martijnarts.com" id="aboutlink">about/portfolio</a></li>
        </menu>
      </div>
