{% if page.title %}
    {% assign title = page.title %}
{% elsif post.title %}
    {% assign title = post.title %}
{% endif %}
{% if page.next %}
    {% assign next = page.next %}
{% elsif post.next %}
    {% assign next = post.next %}
{% endif %}
{% if page.previous %}
    {% assign previous = page.previous %}
{% elsif post.previous %}
    {% assign previous = post.previous %}
{% endif %}
{% if page.date %}
    {% assign date = page.date %}
{% elsif post.date %}
    {% assign date = post.date %}
{% endif %}

{% if page.hero %}
<div class="top">
    <div class="hero">
        <img src="{{ page.hero }}" alt="Hero">
    </div>
</div>
{% endif %}

<div class="bar">
    <header>
        <a class="nostyle" href="{{ post.url }}">
            <h1><span data-content="{{ title }}">{{ title }}</span></h1>
        </a>
    </header>
</div>

<div class="post">
    <div class="meta minor">
        <div class="left">
            {% if page.layout == 'post' and previous %}
                <a href="{{ previous.url }}" title="{{ previous.title }}">&lt; previous</a>
                &mdash;
            {% endif %}

            <time datetime="{{ date }}">{{ date | date:"%b %d, %Y" }}</time>

            {% if page.layout == 'post' and next %}
                &mdash;
                <a href="{{ next.url }}" title="{{ next.title }}">next &gt;</a>
            {% endif %}
        </div>

        <div class="right">
            <div class="addthis_inline_share_toolbox"></div>
        </div>
    </div>

    {{ content }}
</div>
