{% if page.title %}
    {% assign title = page.title %}
{% elsif post.title %}
    {% assign title = post.title %}
{% endif %}
{% if page.next %}
    {% assign next = page.next %}
{% elsif post.next %}
    {% assign next = post.next %}
{% endif %}
{% if page.previous %}
    {% assign previous = page.previous %}
{% elsif post.previous %}
    {% assign previous = post.previous %}
{% endif %}
{% if page.date %}
    {% assign date = page.date %}
{% elsif post.date %}
    {% assign date = post.date %}
{% endif %}

{% if page.hero %}
<div id="top">
    <div id="hero">
        <img src="{{ page.hero }}" alt="Hero">
    </div>
</div>
{% endif %}

<div id="bar">
    <header>
        <h1><span data-content="{{ title }}">{{ title }}</span></h1>
    </header>
    <div id="newer">{% if next %}<a href="{{ next.url }}">&lt; newer</a>{% endif %}</div>
    <div id="older">{% if previous %}<a href="{{ previous.url }}">older &gt;</a>{% endif %}</div>
</div>

<div id="post">
    <div id="meta" class="minor">
        <time datetime="{{ date }}">{{ date | date:"%b %d, %Y" }}</time>
    </div>

    {{ content }}
</div>
