{% if page.hero %}
<div id="top">
    <div id="hero">
        <img src="{{ page.hero }}" alt="Hero">
    </div>
</div>
{% endif %}

<div id="bar">
    <header>
        <h1><span data-content="{{ post.title }}">{{ post.title }}</span></h1>
    </header>
    <div id="newer">{% if post.next %}<a href="{{ post.next }}">&lt; newer</a>{% endif %}</div>
    <div id="older">{% if post.previous %}<a href="{{ post.previosu }}">older &gt;</a>{% endif %}</div>
</div>

<div id="post">
    <div id="meta" class="minor">
        <time datetime="{{ post.date }}">{{ post.date | date:"%b %d, %Y" }}</time>
    </div>

    {{ content }}
</div>
