#footer {
  box-sizing: border-box;
  width: $width;
  margin: 30px auto;
  padding-bottom: 20px;

  font-family: $font-main, sans-serif;
  font-size: 15px;
  text-align: center;

}

@media all and (max-width: $width) {
  #footer {
    width: 100%;
  }
}
