// Header styles
// Made by, owned by and (c) Martijn Arts 2013 and onwards.

#header {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  font-family: $font-head, sans-serif;
  font-weight: 700;

  position: absolute;
  top: 0;
  z-index: 1;

  //background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

  header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    font-size: 24px;
    padding: 8px 25px;

    a {
      @extend .nostyle;
      text-decoration: none;
    }
  }

  menu {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &.right {
      position: absolute;
      left: auto;
      right: 15px;
    }
  }
  li {
    float: left;
    height: 50px;

    a {
      @extend .nostyle;
      box-sizing: border-box;
      display: block;
      height: 100%;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
      padding: 15px 10px;
      font-size: 18px;

      &.active {
        color: #f00;
      }
    }
  }
}

@media all and (max-width: 700px) {
  #header {
    width: 100%;

    menu.right {
      right: 0;
    }
    header {
      padding: 8px 10px;
      font-size: 18px;
      padding: 5px 5px;
    }
    li a {
      font-size: 18px;
      padding: 5px 5px;
    }
  }
}
