@mixin stripes($size: 5px, $deg: 90deg) {
  // Horizontal strips aww yeah
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(0, 0, 0, .05)), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient($deg, rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient($deg, rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  background-image: linear-gradient($deg, rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  -webkit-background-size: $size $size;
  -moz-background-size: $size $size;
  background-size: $size $size;
}

@mixin underoutline($out-width, $out-color, $under-width, $under-color) {
    $shadows: ();

    @each $xm in (-1, 1) {
        @each $ym in (-1, 1) {
            @for $x from 1 through $out-width {
                @for $y from 1 through $out-width {
                    $shadows: append($shadows, $out-color $x*$xm*1px $y*$ym*1px, comma);
                }
            }
        }
    }

    display: inline;

    position: relative;
    z-index: 0;

    color: transparent;
    border-bottom: $under-width solid $under-color;

    &:after {
        content: attr(data-content);
        width: 620px;

        position: absolute;
        top: 10px; left: 0;
        z-index: 1;

        color: #000;
        cursor: text;

        text-shadow: $shadows;
    }
}
