#bar {
    box-sizing: border-box;

    position: relative;
    margin: -90px auto 0;
    padding: 10px 40px 0;

    width: $width;
    font-family: 'Abril Fatface', sans-serif;

    color: #444;
    background-color: #fff;

    header {
        width: 100%;
        height: 100%;
        margin: 40px auto 0;
        padding: 0;

        h1 {
            span {
                @include underoutline(2, #fff, 4px, #f00);
                line-height: 1.1;

                &:after {
                    top: 12px;
                    line-height: 1.34;
                }
            }
            margin: 0 0 30px;
            padding: 0;
            box-sizing: border-box;
            font-size: 52px;
        }
    }
}
#newer, #older {
    z-index: 1;
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: auto;
    top: 0; left: 0;
    padding: 0 30px;

    a {
        display: block;
        color: #888;
        margin: 50% 0;
        padding: 4px 0;
        text-decoration: none;
        font-size: 16px;

        transition: 0.1s linear color;
        &:hover {
            color: #f00;
        }
        &:active {
            color: #000;
        }
    }

    float: left;
}
#older {
    float: right;
    left: auto; right: 0;
    a {
        padding: 8px 0;
    }
}

.minor {
    width: 100%;

    display: block;
    font-size: 14px;
    bottom: 4px;
}

@media all and (max-width: $width) {
    #bar {
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 15px 20px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        header {
            width: 100%;
            position: static;
            margin-left: 0;
        }
    }

    #newer, #older {
        position: static;
        height: auto;

        a {
            margin: 0;
        }
    }
}


#post {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px 0;

    width: $width;
    background-color: #fff;

    font-family: $font-main, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.55;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    p {
        margin: {
            top: 0;
            bottom: 40px;
        }
    }

    ol, ul {
        counter-reset: li;
    }
    &> ol {
        margin-bottom: 40px;
    }
    li {
        list-style: none;
    }
    li:before {
        box-sizing: border-box;
        content: counter(li) ".";
        counter-increment: li;

        font-family: $font-head, serif;
        font-weight: 300;
        color: #666;

        margin-right: 8px;
    }
    ul > li:before {
        content: "•";
    }

    blockquote {
        margin: 20px 0 40px 0;
        padding: 0 20px;


        border-left: 5px solid #666;
        position: relative;

        font-style: italic;
    }
    blockquote cite {
        margin-left: 10px;

        font-style: normal;
        font-family: $font-head;
        font-weight: 300;
    }

    small {
        font-size: 15px;
    }

    figure {
        margin: 40px -40px;
        padding: 0 40px;

        figcaption {
            margin: 10px 20px 0;
            font-size: 18px;
            font-style: italic;
            text-align: center;
        }
    }

    img, div.highlight {
        display: block;
        width: $width;
        margin: 40px -40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    pre {
        font-family: $font-mono, monospace;
        padding: 20px 15px 20px 40px;
        font-size: 13px;
        line-height: 1.4;
        overflow: scroll;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }

        code {
            color: #eee;
            padding: initial;
            background-color: initial;
            font-size: inherit;
            font-weight: 300;
        }
    }

    code {
        padding: 1px 5px 4px 5px;
        background-color: #eee;
        white-space: pre-wrap;
        font-family: $font-mono, monospace;
        font-weight: 400;
        font-size: 17px;
    }


    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
#meta {
    box-sizing: border-box;

    font-family: $font-main, sans-serif;
    width: $width - 60px;
    padding: 0;
    margin: 0 auto 30px;
    font-size: 15px;
    overflow: auto;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
    #tags {
        float: left;
    }
    #date {
        float: right;
    }
}

@media all and (max-width: $width) {
    #bar {
        header {
            margin-top: 0;
        }
    }
    #post {
        width: 100%;
        padding: 15px 20px;

        figure {
            width: calc(100% + 60px);
        }
    }
    #meta {
        width: auto;

        #tags, #date {
            display: block;
            float: none;
        }
    }
}
