.bar {
    box-sizing: border-box;

    position: relative;
    padding: 10px 40px 0;

    font-family: 'Abril Fatface', sans-serif;

    width: 768px;
    margin: 0 auto;

    &:nth-child(2) {
        margin-top: -90px;
    }

    header {
        width: 768px + 2 * 150px;
        height: 100%;
        margin: 40px 0 0 -200px;
        padding: 0;

        h1 {
            span {
                color: #fff;
                background: #f00;
            }
            margin: 0 0 30px;
            padding: 0;
            box-sizing: border-box;
            font-size: 52px;
        }
    }
}
.newer, .older {
    box-sizing: border-box;
}
.older {
    a {
        padding: 8px 0;
    }
}
li {
    list-style-type: '· ';
}

.minor {
    width: 100%;

    display: block;
    font-size: 14px;
    bottom: 4px;
}

.twitter-tweet-rendered {
    margin-bottom: 40px !important;
    margin-top: 0 !important;
}

@media all and (max-width: $width) {
    .bar {
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 15px 20px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        header {
            width: 100%;
            position: static;
            margin-left: 0;
        }
    }

    .newer, .older {
        position: static;
        height: auto;

        a {
            margin: 0;
        }
    }
}

@keyframes highlight {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
    }

    100% {
        background-color: inherit;
    }
}


.post {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px 0;

    width: $width;
    background-color: #fff;

    font-family: $font-main, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.55;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    p {
        margin: {
            top: 0;
            bottom: 40px;
        }
    }

    &> ol, &> ul {
        margin-bottom: 40px;
    }

    blockquote {
        margin: 20px 0 40px 0;
        padding: 0 20px;


        border-left: 5px solid #666;
        position: relative;

        font-style: italic;
    }
    blockquote cite {
        margin-left: 10px;

        font-style: normal;
        font-family: $font-head;
        font-weight: 300;
    }

    small {
        font-size: 15px;
    }

    figure {
        margin: 40px -40px;
        padding: 0 40px;

        figcaption {
            margin: 10px 20px 0;
            font-size: 18px;
            font-style: italic;
            text-align: center;
        }
    }

    img, div.highlight {
        display: block;
        width: $width;
        margin: 40px -40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .highlighter-rouge {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    pre {
        font-family: $font-mono, monospace;
        padding: 20px 15px 20px 40px;
        font-size: 13px;
        line-height: 1.4;
        overflow: scroll;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }

        code {
            color: #eee;
            padding: initial;
            background-color: initial;
            font-size: inherit;
            font-weight: 300;
        }
    }

    code {
        padding: 1px 5px 4px 5px;
        background-color: #eee;
        white-space: pre-wrap;
        font-family: $font-mono, monospace;
        font-weight: 400;
        font-size: 17px;
    }


    h1, h2, h3, h4, h5, h6 {
        font-family: $font-head;
        margin-top: 0;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    sup:target {
        animation: 2s ease-out 2s 1 both highlight;
    }

    .footnotes {
        border-top: 1px solid #aaa;
        font-size: smaller;

        li:target {
            animation: 2s ease-out 2s 1 both highlight;
        }

        p {
            margin-bottom: 20px;
        }
    }
}
.meta {
    box-sizing: border-box;

    font-family: $font-main, sans-serif;
    padding: 0;
    margin: 0 auto 30px;
    font-size: 15px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

@media all and (max-width: $width) {
    .bar {
        header {
            margin-top: 0;
        }
    }
    .post {
        width: 100%;
        padding: 15px 20px;

        figure {
            width: calc(100% + 60px);
        }
    }
    .meta {
        width: auto;

        .tags, .date {
            display: block;
            float: none;
        }
    }
}
