{% include header.html %}

      {% if hero %}
      <div id="top">
        <div id="hero">
          <img src="{{ hero }}" alt="Hero">
        </div>
      </div>
      {% endif %}

      <div id="bar">
        <header>
          <h1>{{ title }}</h1>
        </header>
        <div id="newer">{% if newer %}<a href="{{ newer }}">&lt; newer</a>{% endif %}</div>
        <div id="older">{% if older %}<a href="{{ older }}">older &gt;</a>{% endif %}</div>
      </div>

      <div id="post">
        <div id="meta" class="minor">
          <div id="tags">
          Tags:
            {%- for tag in tags %}
              <a href="/archive.html?tags={{ tag }}" class="nostyle">{{ tag }}</a>
            {% endfor -%}
          </div>
          <div id="date">
            <time datetime="{{ datetime }}">{{ date }}</time>
          </div>
        </div>

        {{ content }}

        {#
          <figure>
            <pre><code>.c {
  background-color: #efefef;
}</code></pre>
            <figcaption>This is a piece of code, as you, I think, can see.</figcaption>
          </figure>
        #}
      </div>

{% include header.html %}
